body{
    margin-left: 144px;
}

.navbar{
    width: 1400px;
    height: 78px;
    display:flex;
    background: #FFF;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
}

.logo{
    align-items: center;
    display: flex;
    
}

.logo img{
    width: 32px;
    height: 32px;
    margin-right: 11px;
    background: rgb(255, 255, 255) 0px 0px / 100% 100% no-repeat;
    margin-top: 24px;
    margin-bottom: 22px;
}

.brand-name img{
    width: 144px;
    height: 29px;
    margin-top: 25px;
    margin-bottom: 19px;
    margin-right: 320px;
}

.nav-links{
    list-style: none;
    display: flex; 
}

.nav-links  li{
    margin-right: 50px;
}

.nav-links a{
    text-decoration: none;
    width: 350px;
    color: #2F281E;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
}

.nav-links a:hover{
    color: #da0c0c;
}

.signin-btn{
    width: 110px;
    height: 46px;
    margin-left: 35px;
    border-radius: 4px ;
    border: 1px solid #BCD0E5;
    color: #173A56;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.signin-btn:hover{
   background-color: #F90; 
}

.signup-btn{
    width: 110px;
    height: 46px;
    margin-left: 14px;
    margin-right: 144px;
    border-radius: 4px ;
    border:none;
    background: #F90;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.signup-btn:hover{
    background-color: #BCD0E5;
    color: #173A56;
 }

 .main-img{
    margin-left: 100px;
    margin-bottom: 112px;
    width: 532.615px;
    height: 520.035px;
 }
 /* Section One */

section {
    display: inline-block;
}

.main-title{
    width: 518px;
    color: #2F281E;
    font-family:'Poppins', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 122.727% */
    margin-top: 113px;
}

.main-info{
    width: 458px;
    height: 95px;
    color: #544837;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-top: 30px;
}

.main-btn{
    width: 175px;
    height: 53px;
    border-radius: 4px;
    background: #F90;
    border:none;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 45px;
    margin-right: 30px;
}

.main-btn:hover{
    background-color: #BCD0E5;
    color: #173A56;
 }

.play-btn{
    display: inline;
}

.play-btn img{
    width: 20px;
    height: 17px;
    transform: rotate(360deg);
}

.play-btn-link{
    color: #F90;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.play-btn-link:hover{
    color: #173A56;
}


/* Section 2 */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.sub-title{
    width: 539px;
    color: #2F281E;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center !important;
    margin-top: 70px;
    /* margin-left: 350px;  */
    margin-bottom: 29px;
}

.row{
    display: flex;
    margin-top: 50px;
    
}

.icon{
    width: 51px;
    height: 50px;
    margin-bottom: 30px;
    justify-content: start;
    margin-right: 310px;
}

.col h4{
    color: #2F281E;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: start;
    margin-bottom: 12px;
}

.col p{
    width: 240px;
    color: #544837;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}

.signup-now{
    text-align: center;
    margin-top: 60px;
}   

.signup-now-btn{
    width: 175px;
    height: 53px;
    border-radius: 4px;
    background: #F90;
    border: none;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin-bottom: 100px;
}

/* section three */

.text{
    color: #544837;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3px;
}

.section-heading{
    color: #2F281E;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 22px;
}

.section-para{
    width: 486px;
    color: #544837;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    margin-bottom: 30px;
}

.section-sub-heading{
    color: #2F281E;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
}

.sub-section-img{
    margin-left: 200px;
    margin-bottom: 144px;
    width: 532.615px;
    height: 520.035px;    
}

.sub-sections-img{
    margin-right: 200px;
    margin-bottom: 144px;
}

.bullets{
    display: flex;
}

.bulletpoint{
    width: 35px;
    height: 35px;
    margin-right: 30px;
}

.describtion{
    width: 365px;
    color: #544837;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    margin-bottom: 30px;
}

.custom-line{
    width: 1109px;
    height: 1px;
    background: rgba(188, 208, 229, 0.50);
}

/* Footer */

.first-links{
    list-style: none;
    margin-top: 167px;
}

.footer-links  li{
    margin-right: 50px;
    margin-left: 140px;
  
}

.footer-links a{
    text-decoration: none;
    width: 350px;
    color: #2F281E;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
}

.nav-links a:hover{
    color: #da0c0c;
}

form{
    width: 325px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    background: #FFF;
    margin-bottom: 20px;
}

.footer-signup-now-btn{
    width: 131px;
    height: 39px;
    border-radius: 4px;
    background: #F90;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
